body {
  font-size: 20px;
}

.contain-all {
  text-align: center;
}
.contain {
  display: flex;
  justify-content: center;
}

.contain .contain-item {
  margin: 20px;
}

.contain-item h2 {
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;
}

.contain-item h2:hover {
  color: rebeccapurple;
  background-color: rosybrown;
}
.reset {
  cursor: pointer;
}
.reset:hover {
  color: rgb(240, 14, 14);
}

/* ----------------Navbar----------------*/

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: #222222;
}

.navbar ul {
  padding: 0;
}

.navbar ul li {
  display: inline;
  list-style-type: none;
}

.navbar ul li a {
  text-decoration: none;
  color: #f4f4f4;
  margin: 40px;
}

.navbar ul li a:hover {
  color: blue;
}

/* ----------------Table Cart----------------*/

.table-cart {
  color: #f4f4f4;
  padding: 20px;
  width: 80%;
  margin: auto;
  background: #434343;
  display: flex;
  justify-content: center;
}

.table-cart thead tr th {
  padding-bottom: 10px;
  border-bottom: #f4f4f4 1px solid;
}

.table-cart table {
  /* border-collapse: collapse; */
  width: 100%;
}

.table-cart table tbody tr td {
  padding: 10px;
}

ion-icon {
  cursor: pointer;
}
